<a href="https://colab.research.google.com/github/AndreasPetrou/AndreasPetrou.github.io/blob/main/scraperHW.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import requests, pandas as pd

In [ ]:
from bs4 import BeautifulSoup

In [ ]:
tables = pd.read_html('https://www.numbeo.com/crime/rankings_by_country.jsp?title=2021&region=039')

In [ ]:
df = tables[1]

In [ ]:
df

    Rank                      Country  Crime Index  Safety Index
0    NaN                        Italy        44.37         55.63
1    NaN                       Greece        44.14         55.86
2    NaN       Bosnia And Herzegovina        43.01         56.99
3    NaN                      Albania        41.64         58.36
4    NaN                   Montenegro        41.61         58.39
5    NaN                        Malta        38.93         61.07
6    NaN              North Macedonia        38.59         61.41
7    NaN                       Serbia        38.26         61.74
8    NaN  Kosovo (Disputed Territory)        36.12         63.88
9    NaN                        Spain        33.13         66.87
10   NaN                     Portugal        29.89         70.11
11   NaN                      Croatia        24.91         75.09
12   NaN                     Slovenia        21.79         78.21

In [ ]:
df.to_csv('crime_safety_csv.csv')